# Dé à coudre est un mini-jeu consistant au fur et à mesure de la game à remplir une piscine avec un bloc en sautant en hauteur.
# Vous pouvez gagner des vies bonus grâce à un Dé à coudre en faisant un saut en plein centre entre 4 blocs. Le dernier survivant gagne la partie.
# https://github.com/Jielos

# Le minimum de joueurs pour que la partie se lance automatiquement.
# À noter qu'il est impossible de forcer le démarrage de la partie si le nombre de joueurs est inférieur à 2.
min-players: 6

# Le nombre maximum de personne pouvant rejoindre la partie.
# Le maximum étant 14 par partie.
max-players: 14

# Nom de la carte (Map)
map-name: "Exemple"

# Limite du nombre de vies.
# Le joueur ne pourra donc avoir plus de vies que le nombre déterminé.
healths-limited: true
healths-limit: 3

# Les temps sont exprimés en secondes.
# Temps avant le démarrage automatique de la partie.
timer-launch: 30

# Temps auquel le joueur doit sauter avant d'être éliminé ou perdre une vie.
timer-jump: 10

# Temps avant la fin de la partie (reset de la piscine d'eau)
timer-end: 15

scoreboard:
  # Nom d'affichage du scoreboard
  title: "§8- §d§lDé à coudre §8-"

  footer:
    # Désactiver le footer du scoreboard
    enabled: true

    # Contenu du footer si celui-ci est activé
    content: "§eplay.jielos.fr"

# Tous les emplacements nécessaires au fonctionnement de la partie.
# [À configurer]
locations:
  # Emplacement de la salle d'attente :
  waiting-room:
    ==: org.bukkit.Location
    world: deacoudre
    x: 0.5
    y: 50
    z: 0.5
    pitch: 0.0
    yaw: 0.0

  # Emplacement où le joueur saute dans la piscine :
  jump:
    ==: org.bukkit.Location
    world: deacoudre
    x: 0.5
    y: 50
    z: 0.5
    pitch: 0.0
    yaw: 0.0

  # Emplacement où les joueurs seront téléportés à la fin de la partie.
  end:
    ==: org.bukkit.Location
    world: deacoudre
    x: 0.5
    y: 50
    z: 0.5
    pitch: 0.0
    yaw: 0.0

  # Zone de la piscine.
  # Attention lorsque celle-ci est défini, l'eau sera automatiquement placée à cette zone,
  # il sera impossible de retourner en arrière en cas de déstruction de votre carte.
  pool:
    '1':
      ==: org.bukkit.Location
      world: deacoudre
      x: 0
      y: 0
      z: 0
    '2':
      ==: org.bukkit.Location
      world: deacoudre
      x: 0
      y: 0
      z: 0